In [59]:
import pandas as pd
import numpy as np

### 1、练习python列表，字典转series与df

In [60]:
dic = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(dic)
print(s)
df = pd.DataFrame([dic])
print(df)

a    1
b    2
c    3
dtype: int64
   a  b  c
0  1  2  3

### 2、练习series和df的索引操作

In [61]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s, s.loc['b'], s.iloc[1], s.loc[['a', 'b']], s.iloc[[0, 1]], sep='\n'*2)

a    1
b    2
c    3
dtype: int64

2

2

a    1
b    2
dtype: int64

a    1
b    2
dtype: int64

In [62]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]},
                  index=['001', '002', '003'])
print(df, df.loc['001'], df.loc[['001', '002']], df.iloc[0],
      df.iloc[0:2], sep='\n'*2, end='\n'*2)  # row
print(df['a'], df[['a', 'b']], sep='\n'*2, end='\n'*2)  # col
print(df.iloc[1, 1], df.iloc[[1, 2], [0, 1]])  # loc

     a  b
001  1  4
002  2  5
003  3  6

a    1
b    4
Name: 001, dtype: int64

     a  b
001  1  4
002  2  5

a    1
b    4
Name: 001, dtype: int64

     a  b
001  1  4
002  2  5

001    1
002    2
003    3
Name: a, dtype: int64

     a  b
001  1  4
002  2  5
003  3  6

5      a  b
002  2  5
003  3  6

### 3、完成重复值去除，缺失值删除，缺失值填充练习

In [68]:
data = {
    'a': ['a1', 'a2', 'a1'],
    'b': ['b1', 'b2', 'b3']
}
df = pd.DataFrame(data)
print(df, end='\n\n')

print(df.duplicated(subset=['a']))
df_col = df.drop_duplicates(subset=['a'], keep='first')
print(df_col)

    a   b
0  a1  b1
1  a2  b2
2  a1  b3

0    False
1    False
2     True
dtype: bool
    a   b
0  a1  b1
1  a2  b2

In [71]:
data = {
    'a': ['a1', np.nan, 'a3'],
    'b': [1, 2, 3]
}
df = pd.DataFrame(data)
print(df, end='\n\n')

print(df.isnull(), df.isnull().sum(axis=1), sep='\n',end='\n\n')
df_drop = df.dropna(axis=0)
print(df_drop)
df_fill_na = df.fillna('na')
print(df_fill_na)

     a  b
0   a1  1
1  NaN  2
2   a3  3

       a      b
0  False  False
1   True  False
2  False  False
0    0
1    1
2    0
dtype: int64

    a  b
0  a1  1
2  a3  3
    a  b
0  a1  1
1  na  2
2  a3  3

### 4、完成apply和map的练习

In [82]:
df = pd.DataFrame(np.arange(6).reshape(2, 3))
print(df)
df_row_mean = df.apply(lambda x: x.mean(),axis=0)
print(df_row_mean)
print('-'*20)
a = 0
df_loc_plus = df.map(lambda x:x+df_row_mean[a])
print(df_loc_plus)

   0  1  2
0  0  1  2
1  3  4  5
0    1.5
1    2.5
2    3.5
dtype: float64
--------------------
     0    1    2
0  1.5  2.5  3.5
1  4.5  5.5  6.5

### 5、完成groupby与agg的练习

In [86]:
data = {
    "name": ["Alice", "Alice", "Charlie", "David", "Alice", "Charlie"],
    "age": [20, 22, 21, 20, 20, 21],
    "score": [85, 90, 78, 92, 85, 78],
    "gender": ["女", "男", "男", "男", "女", "男"]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5', 's6'], columns=['name', 'age', 'score', 'gender'])
print(df)
print(df.groupby('name').agg({'age': ['mean', 'max'], 'score': 'sum'}))

       name  age  score gender
s1    Alice   20     85      女
s2    Alice   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
s5    Alice   20     85      女
s6  Charlie   21     78      男
               age     score
              mean max   sum
name
Alice    20.666667  22   260
Charlie  21.000000  21   156
David    20.000000  20    92


### 6、编写机器学习的训练过程，什么是特征，什么是标签，什么是训练集，什么是测试集，什么是有监督，无监督学习，什么是分类问题，回归问题，什么是欠拟合和过拟合，以问答题写到代码文件里即可。
1. 特征：单条记录的属性值
2. 标签：样本的预测目标值
3. 训练集：用来训练模型的样本，包含特征和标签
4. 测试集：用来评估模型性能的样本，标签不放入模型运行
5. 有监督学习：使用有标签的样本训练，输出标签
6. 无监督学习：不输入标签训练，进行聚类、降维的任务
7. 分类问题：将样本划分进已有的类别
8. 回归问题：预测一个具体的数据
9. 欠拟合：随着模型复杂度增加，训练误差还在逐渐变小，测试误差逐渐变小
10. 过拟合：随着模型复杂度增加，训练误差不断降低，但测试误差反而增大