In [13]:
import pandas as pd
a = pd.Series([1,2,3],index=['a','b','c'])
b = pd.DataFrame([[1,2,3],[4,5,6]],index=['a','b'],columns=['c','d','e'])
print(a,'\n'*2,b,end = '\n'*2)
print(b['c'])
print(b[['c','d']])
print('*'*20)
print(b.iloc[0])

a    1
b    2
c    3
dtype: int64

    c  d  e
a  1  2  3
b  4  5  6

a    1
b    4
Name: c, dtype: int64
   c  d
a  1  2
b  4  5
********************
c    1
d    2
e    3
Name: a, dtype: int64

In [17]:
b['q'] = [1,2]
print(b)
b['w'] = b['q']+1

   c  d  e  q  w
a  1  2  3  1  2
b  4  5  6  2  3

In [23]:
data = {
"name": ["Alice", "Alice", "Charlie", "David", "Alice",
"Charlie"],
"age": [20, 22, 21, 20, 20, 21],
"score": [85, 90, 78, 92, 85, 78],
"gender": ["女", "男", "男", "男", "女", "男"]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5',
's6'], columns=['name', 'age', 'score', 'gender'])
print("原数据:")
print(df)
# 1. 删除完全重复的行
df_drop_dup = df.drop_duplicates()
print("删除完全重复的行:")
print(df_drop_dup)
# 2. 删除部分列重复的行
df_drop_dup_by_col = df.drop_duplicates(subset=['name'],
keep='first')
print("删除部分列重复的行:")
print(df_drop_dup_by_col)
print(df.info())
print(df_drop_dup_by_col.shape)

原数据:
       name  age  score gender
s1    Alice   20     85      女
s2    Alice   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
s5    Alice   20     85      女
s6  Charlie   21     78      男
删除完全重复的行:
       name  age  score gender
s1    Alice   20     85      女
s2    Alice   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
删除部分列重复的行:
       name  age  score gender
s1    Alice   20     85      女
s3  Charlie   21     78      男
s4    David   20     92      男
<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, s1 to s6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     6 non-null      int64
 2   score   6 non-null      int64
 3   gender  6 non-null      object
dtypes: int64(2), object(2)
memory usage: 412.0+ bytes
None
(3, 4)